{% extends 'TipddyBackendBundle::layout.html.twig' %}


{% block javascripts %}
   {{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/tipddysurvey/js/embed-answers.js') }}"></script>

{% endblock %}

{% block content -%}
   {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'} } ) }}
    {{ form_errors(form) }}
  
   <fieldset>
     <legend>Nueva Pregunta</legend>
           {{ form_row(form.question, {'label' : 'Pregunta'}) }}
           {{ form_row(form.description, {'label' : 'Descripción'}) }}
           {{ form_row(form.randomOrder, {'label' : 'Orden Random'}) }}
           {{ form_row(form.questionType, {'label' : 'Tipo de Pregunta'}) }}
           {{ form_row(form.answerType, {'label' : 'Tipo de Repuesta'}) }}
           {{ form_row(form.questionRequired, {'label' : 'Pregunta Obligatoria'}) }}
     <div id="all-answers" data-prototype='
        <table class="new-answers" id="tipddy_tipsurveybundle_questiontype_answers_$$name$$">
          <tr>
             <td>&nbsp;</td>
             <td colspan="2">Answer</td>     
             <td>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td colspan="2">{{ form_widget(form.answers.vars.prototype.answer) }}</td>
            <td class="adelete"></td>
         </tr>
        </table>' data-prototype-photo='
        <table class="new-answers" id="tipddy_tipsurveybundle_questiontype_answers_$$name$$">
          <tr>
             <td>&nbsp;</td>
             <td colspan="2">Answer</td>     
             <td>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td colspan="2">{{ form_widget(form.answers.vars.prototype.photo) }}</td>
            <td class="adelete"></td>
         </tr>
        </table>' data-prototype-video='
        <table class="new-answers" id="tipddy_tipsurveybundle_questiontype_answers_$$name$$">
          <tr>
             <td>&nbsp;</td>
             <td colspan="2">Answer</td>     
             <td>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td colspan="2">{{ form_widget(form.answers.vars.prototype.video) }}</td>
            <td class="adelete"></td>
         </tr>
        </table>'>      
       {% for answer in form.answers %}
         <table class="new-answers" id="tipddy_tipsurveybundle_questiontype_answers_$$name$$">
          <tr>
             <td>&nbsp;</td>
             <td colspan="2">Answer</td>     
             <td>&nbsp;</td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td colspan="2">{{ form_widget(answer.answer) }}</td>
            <td class="adelete"></td>
         </tr>
        </table>
       {% endfor %}  
     </div>
   </fieldset>
  {% include 'TipddyBackendBundle::includes/buttons-form.html.twig' with {'btn_action' : 'Crear', 'route' : 'question'} %}        
      {{ form_row(form._token) }}      
      {{ form_end(form, {'render_rest' : false }) }}   

    <ul class="record_actions">
      <li>
         <a href="{{ path('question') }}">
          Volver al listado
         </a>
      </li>
    </ul>  
{% endblock %}