{% extends 'TipddyBackendBundle::layout.html.twig' %}

{% block content -%}
    <fieldset>
      <legend>Mostrando Encuesta</legend>
      {{ _self.fieldReadText('title', entity.title, 'Título' ) }}
      {{ _self.fieldReadText('description', entity.description, 'Descripción' ) }}   
      {% for obj in entity.questions %}
             <div class="q-titulo">{{ obj.question }}</div>
             {% set typeAnswer = obj.answerType | lower %}
             {% set typeAnswer = typeAnswer == 'text' ? 'answer' : typeAnswer  %}
                
                {% for answer in obj.answers %}
                     {{ attribute(answer, typeAnswer ) }}
                {% endfor %}
             
      {% endfor %}
      
         
    </fieldset>
    <p id="nav">
     <a href="{{ path('survey') }}">Volver a listado</a>
     |
     <a href="{{ path('survey_edit', {'id' : entity.id}) }}">Editar</a>
     |
     <a href="#">Borrar</a>
    </p>
{% endblock %}    
    
{% macro fieldReadText(element, value, label) %}
      <div class="">
          <label for="tipddy_surveybundle_show_{{ element }}">{{ label }}</label>
          
          <div class="field-wrapper">
             {{ value }}
          </div>
     </div>
{% endmacro %}          
