{% extends 'TipddyBackendBundle::layout.html.twig' %}

{% block content -%}
   {{ form_start(edit_form, {'attr' : {'novalidate' : 'novalidate'} } ) }}
   <fieldset>
     <legend>Editando Usuario</legend>
     {{ form_row(edit_form.firstName, {'label' : 'Nombre'} ) }}
     {{ form_row(edit_form.lastName, {'label' : 'Apellido'} ) }}
     {{ form_row(edit_form.email, {'label' : 'Email'} ) }}
     {{ form_row(edit_form.password, {'label' : 'Password'} ) }}     
     {{ form_row(edit_form.address, {'label' : 'Dirección'} ) }}   
     {{ form_row(edit_form.userRoles, {'label' : 'Roles de usuario'} ) }}   
   </fieldset> 
 {% include 'TipddyBackendBundle::includes/buttons-form.html.twig' with {'btn_action' : 'Actualizar', 'route' : 'user'} %}  
  {{ form_row(edit_form._token) }} 
  {{ form_end(edit_form, {'render_rest' : false } ) }}
  
<p id="nav">
     <a href="{{ path('survey') }}">Volver Listado</a>
     |
     <a href="#">Borrar</a>
    </p>  

<ul class="record_actions">
        <li>{{ form(delete_form) }}</li>
</ul>
 
{% endblock %}