{% extends 'TipddyBackendBundle::layout.html.twig' %}

{% block content -%}
    <h1>Usuarios <a class="button add-new-h2" href="{{ path('user_new') }}">Nuevo</a></h1>

<table id="tabla-listado" class="listado post fixed" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.address }}</td>
                <td class="td-actions">
                <ul id="iconos">
                    <li>
                        <a id="show" href="{{ path('user_show', { 'id': entity.id }) }}"></a>
                    </li>
                    <li>
                        <a id="edit" href="{{ path('user_edit', { 'id': entity.id }) }}"></a>
                    </li>
                    <li>
                     <a id="deleted" onclick="return confirm('Realmente deseas borrar el registro?')" href="{{ path('user_delete', { 'id': entity.id }) }}"></a>
                    </li>
                 </ul>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
