{% extends 'TipddyBackendBundle::layout.html.twig' %}

{% block content -%}
    <fieldset>
      <legend>Mostrando Usuario</legend>
      {{ _self.fieldReadText('firstName', entity.firstName, 'Nombre' ) }}
      {{ _self.fieldReadText('firstName', entity.lastName, 'Apellido' ) }}
      {{ _self.fieldReadText('email', entity.email, 'Email' ) }}
      {{ _self.fieldReadText('address', entity.address, 'Dirección' ) }}
     {# {{ _self.fieldReadText('userRoles', entity.userRoles, 'Roles' ) }}  #}           
    </fieldset>
    <p id="nav">
     <a href="{{ path('user') }}">Volver a listado</a>
     |
     <a href="{{ path('user_edit', {'id' : entity.id}) }}">Editar</a>
     |
     <a href="#">Borrar</a>
    </p>
{% endblock %}    
    
{% macro fieldReadText(element, value, label) %}
      <div class="">
          <label for="tipddy_securitybundle_show_{{ element }}">{{ label }}</label>
          
          <div class="field-wrapper">
             {{ value }}
          </div>
     </div>
{% endmacro %}        
